.container{
    padding: 60px 0 80px 0;
}
.sc-visual{
    border-bottom: 7px solid #f6f6f6;
    padding-top: 20px;
    .inner{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .group-slide{
        width: 100%;
        .swiper-slide{
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            a{
                display: block;
                width: 100%;
            }
            .img-box{
                .wrap{
                    position: relative;
                    padding-bottom: calc(375/880*100%);
                    width: 100%;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .swiper-pagination{
            position: absolute;
            left: auto;
            right: 16px;
            width: 40px;
            height: 17px;
            border-radius: 12px;
            color: #fff;
            font-size: 12px;
            line-height: 17px;
            font-weight: 500;
            background: rgba(0, 0, 0, 0.43);
        }
    }
    .group-cate{
        .cate-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 20px;
            .cate-item{
                width: calc((100% - 80px)/5);
                margin-bottom: 14px;
                .cate{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3px;
                }
                .img-box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    background: #f6f6f6;
                    width: 100%;
                    height: 100%;
                    .wrap{
                        position: relative;
                        padding-bottom: 100%;
                        width: 100%;
                        height: 100%;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .text{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 17px;
                    letter-spacing: -0.3px;
                    color: #333333;
                    white-space: nowrap;
                }
            }
        }
    }
}
.sc-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .headline{
        font-size: 18px;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: -0.45px;
        padding: 20px 0 10px 0;
        color: #111;
    }
    .img-box{
        border-radius: 6px;
        overflow: hidden;
        .wrap{
            position: relative;
            padding-bottom: calc(87/136*100%);
        }
        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .text-box{
        display: flex;
        flex-direction: column;
        align-items: start;
        color: #111;
        .point{
            position: relative;
            font-size: 11px;
            line-height: 16px;
            font-weight: bold;
            letter-spacing: -0.025em;
            padding: 0 5px 0 20px;
            border-radius: 2px;
            margin-bottom: 7px;
            &.place{
                border: 1px solid #3390ff;
                color: #3390ff;
                &::before{
                    position: absolute;
                    top: -1px;
                    left: 0px;
                    background: url(../img/main_content/ic/ic-area.png) no-repeat center;
                    background-size: 18px;
                    width: 18px;
                    height: 18px;
                    content: '';
                }
            }
            &.live{
                border: 1px solid #f20e42;
                color: #f20e42;
                &::before{
                    position: absolute;
                    top: -1px;
                    left: 0px;
                    background: url(../img/main_content/ic/ic-live.png) no-repeat center;
                    background-size: 18px;
                    width: 18px;
                    height: 18px;
                    content: '';
                }
            }
            &.ebook{
                border: 1px solid #00cf3d;
                color: #00cf3d;
                &::before{
                    position: absolute;
                    top: -1px;
                    left: 0px;
                    background: url(../img/main_content/ic/ic-ebook.png) no-repeat center;
                    background-size: 18px;
                    width: 18px;
                    height: 18px;
                    content: '';
                }
            }
            &.vod{
                border: 1px solid #9433ff;
                color: #9433ff;
                &::before{
                    position: absolute;
                    top: -1px;
                    left: 0px;
                    background: url(../img/main_content/ic/ic-vod.png) no-repeat center;
                    background-size: 18px;
                    width: 18px;
                    height: 18px;
                    content: '';
                }
            }
            &.taling{
                border: 1px solid #9433ff;
                color: #9433ff;
                padding: 0 5px 0 27px;
                &::before{
                    position: absolute;
                    top: -1px;
                    left: 0px;
                    background: url(../img/main_content/ic/ic-tal.png) no-repeat center;
                    background-size: 24px 18px;
                    width: 24px;
                    height: 18px;
                    content: '';
                }
            }
        }
        .title{
            height: 38px;
            line-height: 19px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // font-weight: 500;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.35px;
            margin-bottom: 4px;
        }
        .tutor{
            margin-bottom: 13px;
            font-size: 11px;
            line-height: 14px;
            font-weight: bold;
            color: #999;
        }
        .price-wrap{
            display: flex;
            margin-bottom: 9px;
            .price{
                font-size: 15px;
                font-weight: bold;
                color: #333;
            }
            .del{
                margin: 0 0 0 2px;
                font-size: 11px;
                line-height: 20px;
                color: #bbbbbb;
                text-decoration: line-through;
            }
            .sale{
                font-weight: bold;
                font-size: 11px;
                line-height: 20px;
                color: #ff0045;
            }
        }
        .text-wrap{
            display: flex;
            align-items: center;
            font-weight: bold;
            font-size: 11px;
            line-height: 22px;
            gap: 6px;
            .good{
                position: relative;
                padding-left: 16px;
                &::before{
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: 5px;
                    left: 2px;
                    background: url(../img/main_content/ic/ic-heart.png);
                    background-size: 12px;
                    content: '';
                }
            }
            .count{
                position: relative;
                padding-left: 13px;
                &::before{
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    top: 5px;
                    left: -1px;
                    background: url(../img/main_content/ic/ic-review.png);
                    background-size: 12px;
                    content: '';
                }
            }
        }
    }
    .group-go{
        position: relative;
        overflow: hidden;
        .go-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-study{
        position: relative;
        overflow: hidden;
        .link-study{
            position: relative;
            &::after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
                opacity: 0.65;
                content: "";
            }
            .img-box{
                width: 100%;
                height: 100%;
                border-radius: 0;
                .wrap{
                    position: relative;
                    padding-bottom: calc(215/320*100%);
                }
            }
            .text-box{
                .title{
                    position: absolute;
                    padding: 0 20px;
                    bottom: 20px;
                    z-index: 1;
                    height: auto;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: #ffffff;
                }
            }
        }
        .study-slide{
            overflow: initial;
            margin-top: 20px;
            .swiper-slide{
                display: flex;
                flex-direction: column;
                gap: 18px;
                width: auto;
                a{
                    display: flex;
                    gap: 14px;
                }
                .img-box{
                    width: 100px;
                    border-radius: 6px;
                    .wrap{
                        position: relative;
                        padding-bottom: calc(100/94*100%);
                    }
                    img{
                        object-fit: cover;
                    }
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    z-index: 1;
                    flex: 1;
                    .tag{
                        font-weight: 700;
                        letter-spacing: -0.025em;    
                        padding: 0 6px;
                        border-radius: 2px;
                        font-size: 11px;
                        line-height: 18px;
                        color: #7f8b96;
                        background-color: #e7e9ed;
                    }
                    .title{
                        flex: 1;
                        font-size: 14px;
                        line-height: 19px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .link-more{
            position: absolute;
            top: 25px;
            right: 10px;
            color: #999999;
            font-size: 13px;
            line-height: 20px;
            padding-right: 10px;
            &::after{
                position: absolute;
                margin-top: 6px;
                margin-left: 5px;
                width: 5px;
                height: 9px;
                background: url(../img/main_content/study/link-more.png) no-repeat center;
                background-size: 6px;
                content: '';
            }
        }
    }
    .group-gpt{
        position: relative;
        overflow: hidden;
        .gpt-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-free{
        position: relative;
        overflow: hidden;
        .free-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-brand{
        position: relative;
        overflow: hidden;
        .brand-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-luck{
        position: relative;
        overflow: hidden;
        .luck-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-banner{
        position: relative;
        margin-top: 20px;
        .banner-slide{
            position: relative;
            .swiper-slide{
                a{
                    .img-box{
                        border-radius: 0;
                        .wrap{
                            position: relative;
                            padding-bottom: calc(70/320*100%);
                            width: 100%;
                        }
                    }
                }
            }
            .swiper-pagination{
                position: absolute;
                bottom: 10px;
                .swiper-pagination-bullet{
                    width: 8px;
                    height: 8px;
                    margin: 0 3px;
                    background-color: #ffffff;
                    opacity: 0.4;
                }
                .swiper-pagination-bullet-active{
                    opacity: 1;
                }
            }
        }
    }
    .group-promotion{
        position: relative;
        overflow: hidden;
        .promotion-slide{
            overflow: initial;
            .swiper-slide{
                width: auto;
                margin-right: 15px;
            }
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            .img-box{
                width: 200px;
                height: 200px;
                border-radius: 6px;
                .wrap{
                    position: relative;
                    padding-bottom: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .group-high{
        position: relative;
        overflow: hidden;
        .high-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;
            }
            .img-box{
                width: 100%;
                border-radius: 50%;
                overflow: hidden;
                .wrap{
                    position: relative;
                    padding-bottom: 100%;
                }
                img{
                    object-fit: cover;
                }
            }
            .text-box{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 3px;
                .title{
                    height: auto;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.35px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .name{
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.35px;
                }
                .wrap{
                    display: flex;
                    font-size: 12px;
                    color: #111;
                    letter-spacing: -0.5px;
                    line-height: 18px;
                    .score-number{
                        position: relative;
                        padding-left: 14px;
                        &::before{
                            position: absolute;
                            top: 3px;
                            left: 0;
                            width: 12px;
                            height: 12px;
                            background: url(../img/main_content/col-right/ic-review.png) no-repeat center;
                            background-size: 12px;
                            content: '';
                        }
                    }
                    .score-count{}
                }
            }
        }
    }
    .group-open{
        position: relative;
        overflow: hidden;
        .open-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-weekend{
        position: relative;
        overflow: hidden;
        .weekend-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-oneday{
        position: relative;
        overflow: hidden;
        .oneday-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
    .group-wishlist{
        position: relative;
        overflow: hidden;
        padding-bottom: 60px;
        .wishlist-slide{
            overflow: initial;
            a{
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
            img{
                object-fit: cover;
            }
        }
    }
}